{% extends 'base.html.twig' %}

{% block title %}Hello EditProductController!{% endblock %}

{% block main %}

    <h1>Edytuj produkt</h1>

    {{ form_start(product) }}
    <div class="form-row">
        {{ form_label(product.name, 'Nazwa') }}
        {{ form_widget(product.name) }}
    </div>
    <div class="form-row">
        {{ form_label(product.description, 'Opis') }}
        {{ form_widget(product.description) }}
    </div>
    <div class="form-row">
        {{ form_label(product.price, 'Cena nominalna') }}
        {{ form_widget(product.price, {'type':'number', 'attr': { 'autocomplete':'off', 'min':0, 'step': 0.01, 'data-number-to-fixed':2, 'data-number-stepfactor':100, 'class':'currency'}})}}
    </div>
    <div class="form-row">
        {{ form_label(product.minimalPrice, 'Cena minimalna') }}
        {{ form_widget(product.minimalPrice, {'type':'number', 'attr': { 'autocomplete':'off', 'min':0, 'step': 0.01, 'data-number-to-fixed':2, 'data-number-stepfactor':100, 'class':'currency'}})}}
    </div>
    <div class="form-row">
        {{ form_label(product.negotiationRatio, 'Współczynnik negocjacji') }}
    </div>
        <div class="row">
            <div class="col-11">{{ form_widget(product.negotiationRatio, {'type':'number', 'attr': { 'autocomplete':'off', 'min':0, 'step': 1}})}}</div>
            <div class="col-1">%</div>
        </div>

    <br>
    <div>
        <button class="btn btn-primary">Edytuj</button>
        <a type="button" class="btn btn-secondary" href="{{ path('product_management') }}">Anuluj</a>
    </div>
    {{ form_end(product) }}

{% endblock %}
