{% extends 'base.html.twig' %}

{% block main %}

    {% for key, product in products %}
    <div class="card">
        <div class="card-header">
            <h4><a href="/product/{{ product.id }}">{{ product.name }}</a></h4>
        </div>
        <div class="card-body">
            <div class="row jumbotron">
                <div class="col-4  imageContainerSmall">
                    <img src="data:image/jpg;base64,{{ images[key] }}">
                </div>
                <div class="col-4 ">
                    <p>{{ product.description|nl2br }}</p>
                </div>
                <div class="col-4 content_center text-center">
                    <h2>{{ product.price }} zł</h2>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}