{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock title %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row"> <h2>{{ product.name }}</h2> </div>
    <div class= "jumbotron row">
        <div class="col-6 imageContainer">
            <img src="data:image/jpg;base64,{{ image }}"/>
        </div>
         <div class="col-6 jumbotron text-center">
             {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <h3>Cena: {{price}} zł</h3><br>
             {% else %}
                 <h3>Obecna cena: {{price}} zł</h3><br>
             {% endif %}
             <div class="text-center">
                <button type="button" data-toggle="modal" data-target="#negotiation" class="btn btn-primary my-2" >Negocjuj</button>
                 {% if oldNegotiation == 0 %}
                     <a href="/processbuyproduct/product/{{ product.id }}" class="btn btn-secondary my-2" onclick="return confirm('Czy na pewno chcesz kupić produkt?')">Kup teraz</a>
                 {% else %}
                    <a href="/processbuyproduct/{{ oldNegotiation }}" class="btn btn-secondary my-2" onclick="return confirm('Czy na pewno chcesz kupić produkt?')">Kup teraz</a>
                 {% endif %}
             </div>
        </div>
    </div>
    <div class="text-center">
        <h3>Opis produktu:</h3>
        <p> {{ product.description|nl2br }} </p> <br>
    </div>
    <div class="modal fade" id="negotiation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Negocjacja</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p>Zaloguj się lub zarejestruj, aby móc negocjować cenę!</p>
                        <div class="modal-footer">
                            <a type="button" class="btn btn-primary" href="{{ path('login') }}">Zaloguj</a>
                            <a type="button" class="btn btn-secondary" href="{{ path('register') }}">Zarejestruj</a>
                        </div>
                    {% elseif forVerification%}
                        <p>Twoje zgłoszenie czeka na weryfikację.</p>
                    {% else %}
                        {{ form_start(negotiation)}}
                        <p>Ilość:</p>
                        {{ form_widget(negotiation.quantity, {'min': 1, 'value': 1 })}}
                        <p>Oczekiwana zniżka:</p>
                        <div class="row">
                            <div class="col-8">{{ form_widget(negotiation.desiredDiscount, {'type':'number', 'attr': { 'autocomplete':'off', 'min':0, 'step': 0.01, 'data-number-to-fixed':2, 'data-number-stepfactor':100, 'class':'currency'}})}}</div> <div class="col-4">zł</div>
                        </div>
                        <p>Dlaczego chcesz obniżyć cenę tego produktu? Napisz krótkie uzasadnienie.</p>
                        {{ form_widget(negotiation.description) }}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary modal-submit">Wyślij</button>
                        </div>
                        {{ form_end(negotiation) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}