{% extends 'base.html.twig' %}

{% block title %}Przegląd negocjacji{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script>
    $(document).ready(function() {
        $('#negotiationTable').DataTable({
            "language": {
                "decimal":        "",
                "emptyTable":     "Brak danych w tabeli",
                "info":           "",
                "infoEmpty":      "Brak danych",
                "infoFiltered":   "",
                "infoPostFix":    "",
                "thousands":      ",",
                "lengthMenu":     "Pokaż: _MENU_ ",
                "loadingRecords": "Proszę czekać...",
                "processing":     "Przetwarzam...",
                "search":         "Szukaj:",
                "zeroRecords":    "Brak odpowiednich rekordów",
                "paginate": {
                    "first":      "Pierwsza",
                    "last":       "Ostatnia",
                    "next":       "Następna",
                    "previous":   "Poprzednia"
                },
                "aria": {
                    "sortAscending":  "",
                    "sortDescending": ""
                }
            }
        });
    } );
</script>
<style type="text/css">
    .table-wrapper {
        width: 900px;
        margin: 30px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    .table-title .add-new {
        float: right;
        text-shadow: none;
        border-radius: 50px;
    }
    .table-title .add-new i {
        margin-right: 4px;
    }
    table.table {
        table-layout: fixed;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }
    table.table th:first-child {
        width: 100px;
    }
    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }
    table.table td a.add {
        color: #27C46B;
    }

    table.table td i {
        font-size: 19px;
    }
    table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }
    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }
    table.table .form-control.error {
        border-color: #f50000;
    }
    table.table td .add {
        display: none;
    }
</style>
{% endblock %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Przegląd negocjacji</h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="negotiationTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Mail użytkownika</th>
                        <th>Wyrażenie</th>
                        <th>Id transakcji</th>
                        <th>Do zatwierdzenia</th>
                        <th>Link</th>
                        <th>Zatwierdź</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, negotiation in negotiations %}
                    <tr>
                        <td>{{ negotiation.id }}</td>
                        <td>{{ negotiation.userId.email }}</td>
                        <td>{{ negotiation.description }}</td>
                        <td>{{ negotiation.transactionId }}</td>
                        <td>{{ negotiation.forVerification }}</td>
                        <td style="word-wrap: break-word">{{ negotiation.competitorLink }}</td>
                        <td>
                            {% if negotiation.forVerification %}
                                <a href="/acceptnegotiation/{{ negotiation.id }}">Zatwierdź</a>
                                <a href="/rejectnegotiation/{{ negotiation.id }}">Odrzuć</a>
                            {% endif %}
                        </td>


                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
